html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  appearance: none;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.ttf");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ProximaNova-Bold.ttf");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/ProximaNova-Extrabld.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding-top: 80px;
  background-color: #F8F9FF;
  font-family: "Proxima Nova";
  font-weight: 400;
  color: #262C44;
  position: relative;
  font-size: 16px;
}
@media (min-width: 992px) {
  body {
    padding-top: calc( 0.0237068966 * 100vw + 56.4827586207px);
  }
}
@media (min-width: 1920px) {
  body {
    padding-top: 102px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: calc( 0.0021551724 * 100vw + 13.8620689655px);
  }
}
@media (min-width: 1920px) {
  body {
    font-size: 18px;
  }
}

body.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 100%;
  max-width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: none;
  }
}
.container--small {
  max-width: 1050px;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  background-color: #F43E36;
  border: 2px solid #F43E36;
  transition: background-color 0.38s ease-in-out, color 0.38s ease-in-out;
}
@media (min-width: 992px) {
  .btn {
    padding-top: calc( 0.0086206897 * 100vw + 1.4482758621px);
  }
}
@media (min-width: 1920px) {
  .btn {
    padding-top: 18px;
  }
}
@media (min-width: 992px) {
  .btn {
    padding-bottom: calc( 0.0086206897 * 100vw + 1.4482758621px);
  }
}
@media (min-width: 1920px) {
  .btn {
    padding-bottom: 18px;
  }
}
@media (min-width: 992px) {
  .btn {
    padding-left: calc( 0.0064655172 * 100vw + 8.5862068966px);
  }
}
@media (min-width: 1920px) {
  .btn {
    padding-left: 21px;
  }
}
@media (min-width: 992px) {
  .btn {
    padding-right: calc( 0.0064655172 * 100vw + 8.5862068966px);
  }
}
@media (min-width: 1920px) {
  .btn {
    padding-right: 21px;
  }
}
@media (min-width: 992px) {
  .btn {
    font-size: calc( 0.0021551724 * 100vw + 13.8620689655px);
  }
}
@media (min-width: 1920px) {
  .btn {
    font-size: 18px;
  }
}
.btn:hover {
  background-color: transparent;
  color: #F43E36;
}
.btn--blue {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  border: 2px solid #1775bc;
  background-color: #1775bc;
}
@media (min-width: 992px) {
  .btn--blue {
    padding-left: calc( 0.0086206897 * 100vw + 11.4482758621px);
  }
}
@media (min-width: 1920px) {
  .btn--blue {
    padding-left: 28px;
  }
}
@media (min-width: 992px) {
  .btn--blue {
    padding-right: calc( 0.0086206897 * 100vw + 11.4482758621px);
  }
}
@media (min-width: 1920px) {
  .btn--blue {
    padding-right: 28px;
  }
}
@media (min-width: 992px) {
  .btn--blue {
    font-size: calc( 0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .btn--blue {
    font-size: 16px;
  }
}
.btn--blue:hover {
  background-color: transparent;
  color: #1775bc;
}
.btn--long {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 992px) {
  .btn--long {
    padding-left: calc( 0.0172413793 * 100vw + 12.8965517241px);
  }
}
@media (min-width: 1920px) {
  .btn--long {
    padding-left: 46px;
  }
}
@media (min-width: 992px) {
  .btn--long {
    padding-right: calc( 0.0172413793 * 100vw + 12.8965517241px);
  }
}
@media (min-width: 1920px) {
  .btn--long {
    padding-right: 46px;
  }
}

.title {
  text-align: center;
  font-weight: 700;
  white-space: pre-line;
  line-height: 1.21;
  font-size: 28px;
}
@media (min-width: 992px) {
  .title {
    font-size: calc( 0.0215517241 * 100vw + 6.6206896552px);
  }
}
@media (min-width: 1920px) {
  .title {
    font-size: 48px;
  }
}

.intro {
  padding-top: 70px;
  padding-bottom: 30px;
  background: url("../images/main-bg.jpg") no-repeat;
  color: #fff;
  background-size: cover;
  background-position: center;
}
@media (min-width: 992px) {
  .intro {
    padding-top: calc( 0.0215517241 * 100vw + 48.6206896552px);
  }
}
@media (min-width: 1920px) {
  .intro {
    padding-top: 90px;
  }
}
@media (min-width: 992px) {
  .intro {
    padding-bottom: calc( 0.0107758621 * 100vw + 19.3103448276px);
  }
}
@media (min-width: 1920px) {
  .intro {
    padding-bottom: 40px;
  }
}
.intro__top {
  display: flex;
  justify-content: space-between;
}
.intro__left, .intro__right {
  width: 32%;
}
.intro__right {
  text-align: right;
}
.intro__center {
  width: 36%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro__title {
  white-space: pre-line;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
}
@media (min-width: 992px) {
  .intro__title {
    font-size: calc( 0.0215517241 * 100vw + 6.6206896552px);
  }
}
@media (min-width: 1920px) {
  .intro__title {
    font-size: 48px;
  }
}
.intro__item {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .intro__item {
    margin-bottom: calc( 0.0377155172 * 100vw + -7.4137931034px);
  }
}
@media (min-width: 1920px) {
  .intro__item {
    margin-bottom: 65px;
  }
}
.intro__item:last-child {
  margin-bottom: 0;
}
.intro__item-title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.21;
  white-space: pre-line;
}
@media (min-width: 992px) {
  .intro__item-title {
    font-size: calc( 0.0064655172 * 100vw + 11.5862068966px);
  }
}
@media (min-width: 1920px) {
  .intro__item-title {
    font-size: 24px;
  }
}
.intro__item-link {
  padding-right: 30px;
  position: relative;
  color: #5EBDFF;
}
.intro__item-link::before {
  content: "";
  width: 20px;
  height: 11px;
  background: url("../images/icons/link-arrow.svg");
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition: right 0.38s ease-in-out;
}
.intro__item-link:hover::before {
  right: -10px;
}
.intro__left .intro__item:first-child {
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .intro__left .intro__item:first-child {
    margin-bottom: calc( 0.0431034483 * 100vw + -2.7586206897px);
  }
}
@media (min-width: 1920px) {
  .intro__left .intro__item:first-child {
    margin-bottom: 80px;
  }
}
.intro__right .intro__item:first-child {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .intro__right .intro__item:first-child {
    margin-bottom: calc( 0.0323275862 * 100vw + -12.0689655172px);
  }
}
@media (min-width: 1920px) {
  .intro__right .intro__item:first-child {
    margin-bottom: 50px;
  }
}
.intro__bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.header--fixed {
  position: fixed;
  background-color: #022C6B;
}
.header--fixed .header__top {
  display: none;
}
.header__top {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E9E9E9;
}
@media (min-width: 992px) {
  .header__top {
    padding-top: calc( 0.0064655172 * 100vw + 1.5862068966px);
  }
}
@media (min-width: 1920px) {
  .header__top {
    padding-top: 14px;
  }
}
@media (min-width: 992px) {
  .header__top {
    padding-bottom: calc( 0.0064655172 * 100vw + 1.5862068966px);
  }
}
@media (min-width: 1920px) {
  .header__top {
    padding-bottom: 14px;
  }
}
.header__top-left, .header__top-right {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 30px;
  width: 230px;
  height: 50px;
  background: url("../images/header-logo-1.png") no-repeat;
  background-size: contain;
}
@media (min-width: 992px) {
  .header__logo {
    width: calc( 0.0592672414 * 100vw + 171.2068965517px);
  }
}
@media (min-width: 1920px) {
  .header__logo {
    width: 285px;
  }
}
@media (min-width: 992px) {
  .header__logo {
    height: calc( 0.0118534483 * 100vw + 38.2413793103px);
  }
}
@media (min-width: 1920px) {
  .header__logo {
    height: 61px;
  }
}
.header__info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .header__info {
    font-size: calc( 0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .header__info {
    font-size: 16px;
  }
}
.header__info-place {
  margin-bottom: 6px;
}
.header__info-tels {
  margin-bottom: 6px;
}
.header__info-tel {
  color: inherit;
  transition: color 0.38s ease-in-out;
}
.header__info-tel:hover {
  color: #5EBDFF;
}
.header__timetable {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}
@media (min-width: 992px) {
  .header__timetable {
    font-size: calc( 0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .header__timetable {
    font-size: 16px;
  }
}
.header__timetable-item:first-child {
  margin-bottom: 6px;
}
.header__down {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
}
.header__nav-item {
  position: relative;
}
.header__nav-item:hover .header__nav-link {
  background-color: #1775bc;
  color: #F8F9FF;
}
.header__nav-item:hover .header__subnav {
  opacity: 1;
  z-index: 10;
  visibility: visible;
  -webkit-box-shadow: 0px 11px 35px -4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 11px 35px -4px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 11px 35px -4px rgba(34, 60, 80, 0.2);
}
.header__nav-item--subnav {
  position: relative;
}
.header__nav-item--subnav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E9E9E9;
  opacity: 0;
  transition: opacity 0.38s ease-in-out;
}
.header__nav-item--subnav:hover::after {
  opacity: 1;
}
.header__nav-item--active .header__nav-link {
  position: relative;
}
.header__nav-item--active .header__nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 20px;
  height: 1px;
  background-color: #5ebdff;
  opacity: 1;
  transition: opacity 0.38s ease-in-out;
}
.header__nav-item--active .header__nav-link:hover::after {
  opacity: 0;
}
.header__nav-link {
  display: block;
  font-size: 14px;
  padding: 8px 15px;
  color: #262C44;
  transition: background-color 0.38s ease-in-out, color 0.38s ease-in-out;
}
@media (min-width: 992px) {
  .header__nav-link {
    font-size: calc( 0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .header__nav-link {
    font-size: 16px;
  }
}
.header__subnav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.38s ease-in-out, z-index 0.38s ease-in-out, visibility 0.38s ease-in-out, box-shadow 0.38s ease-in-out;
}
.header__subnav-item {
  border-bottom: 1px solid #E9E9E9;
}
.header__subnav-item:last-child {
  border: none;
}
.header__subnav-link {
  font-size: 12px;
  display: block;
  width: 260px;
  padding: 8px 15px;
  color: #000;
  background-color: #F8F9FF;
  transition: background-color 0.38s ease-in-out, color 0.38s ease-in-out;
}
.header__subnav-link:hover {
  background-color: #1775bc;
  color: #fff;
}
.header__container {
  display: none;
}

.nav--blue .header__nav-item:hover .header__nav-link {
  color: #000;
  background-color: #F8F9FF;
}
.nav--blue .header__nav-link {
  color: #fff;
}

.work {
  background-color: #F8F9FF;
  padding-top: 30px;
}
@media (min-width: 992px) {
  .work {
    padding-top: calc( 0.0538793103 * 100vw + -23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .work {
    padding-top: 80px;
  }
}
.work__cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 992px) {
  .work__cards {
    margin-top: calc( 0.0323275862 * 100vw + -12.0689655172px);
  }
}
@media (min-width: 1920px) {
  .work__cards {
    margin-top: 50px;
  }
}
.work__cards-item {
  width: 31.66667%;
  margin-right: 2.5%;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
}
@media (min-width: 992px) {
  .work__cards-item {
    margin-bottom: calc( 0.0107758621 * 100vw + 4.3103448276px);
  }
}
@media (min-width: 1920px) {
  .work__cards-item {
    margin-bottom: 25px;
  }
}
.work__cards-item:nth-child(3n) {
  margin-right: 0;
}
.work__cards-item:last-child {
  margin-right: 0;
}
.work__cards-img {
  display: block;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .work__cards-img {
    margin-top: calc( 0.0323275862 * 100vw + -12.0689655172px);
  }
}
@media (min-width: 1920px) {
  .work__cards-img {
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .work__cards-img {
    margin-bottom: calc( 0.0269396552 * 100vw + -11.724137931px);
  }
}
@media (min-width: 1920px) {
  .work__cards-img {
    margin-bottom: 40px;
  }
}
.work__cards-wrapper {
  display: flex;
  align-items: center;
}
.work__cards-number {
  margin-right: 10px;
  color: #1877BD;
  font-weight: 800;
  font-size: 38px;
}
@media (min-width: 992px) {
  .work__cards-number {
    margin-right: calc( 0.0107758621 * 100vw + -0.6896551724px);
  }
}
@media (min-width: 1920px) {
  .work__cards-number {
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .work__cards-number {
    font-size: calc( 0.0280172414 * 100vw + 10.2068965517px);
  }
}
@media (min-width: 1920px) {
  .work__cards-number {
    font-size: 64px;
  }
}
.work__cards-title {
  font-size: 16px;
}
@media (min-width: 992px) {
  .work__cards-title {
    font-size: calc( 0.0021551724 * 100vw + 13.8620689655px);
  }
}
@media (min-width: 1920px) {
  .work__cards-title {
    font-size: 18px;
  }
}
.work__bottom {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .work__bottom {
    margin-top: calc( 0.0431034483 * 100vw + -17.7586206897px);
  }
}
@media (min-width: 1920px) {
  .work__bottom {
    margin-top: 65px;
  }
}

.cooperation {
  background-color: #F8F9FF;
  padding-top: 20px;
}
@media (min-width: 992px) {
  .cooperation {
    padding-top: calc( 0.0323275862 * 100vw + -12.0689655172px);
  }
}
@media (min-width: 1920px) {
  .cooperation {
    padding-top: 50px;
  }
}
.cooperation__cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .cooperation__cards {
    margin-top: calc( 0.0323275862 * 100vw + -12.0689655172px);
  }
}
@media (min-width: 1920px) {
  .cooperation__cards {
    margin-top: 50px;
  }
}
.cooperation__cards-item {
  width: 31%;
  margin-right: 3.5%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 20px;
}
@media (min-width: 992px) {
  .cooperation__cards-item {
    margin-bottom: calc( 0.0107758621 * 100vw + 9.3103448276px);
  }
}
@media (min-width: 1920px) {
  .cooperation__cards-item {
    margin-bottom: 30px;
  }
}
.cooperation__cards-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}
.cooperation__cards-item:nth-child(3n) {
  margin-right: 0;
}
.cooperation__cards-item:last-child {
  margin-right: 0;
}
.cooperation__cards-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cooperation__cards-img {
    height: calc( 0.0754310345 * 100vw + 155.1724137931px);
  }
}
@media (min-width: 1920px) {
  .cooperation__cards-img {
    height: 300px;
  }
}
.cooperation__cards-title {
  padding: 0 15px;
  position: absolute;
  left: 0;
  z-index: 2;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #F3F7FF;
  font-weight: 700;
  line-height: 1.21;
  font-size: 16px;
}
@media (min-width: 992px) {
  .cooperation__cards-title {
    font-size: calc( 0.0021551724 * 100vw + 13.8620689655px);
  }
}
@media (min-width: 1920px) {
  .cooperation__cards-title {
    font-size: 18px;
  }
}
.cooperation__bottom {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: #F8F9FF;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .about {
    padding-top: calc( 0.0538793103 * 100vw + -23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .about {
    padding-top: 80px;
  }
}
@media (min-width: 992px) {
  .about {
    padding-bottom: calc( 0.0538793103 * 100vw + -23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .about {
    padding-bottom: 80px;
  }
}
.about__text {
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 992px) {
  .about__text {
    margin-top: calc( 0.0323275862 * 100vw + -12.0689655172px);
  }
}
@media (min-width: 1920px) {
  .about__text {
    margin-top: 50px;
  }
}

.contacts {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .contacts {
    padding-top: calc( 0.0538793103 * 100vw + 6.5517241379px);
  }
}
@media (min-width: 1920px) {
  .contacts {
    padding-top: 110px;
  }
}
@media (min-width: 992px) {
  .contacts {
    padding-bottom: calc( 0.0538793103 * 100vw + -23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .contacts {
    padding-bottom: 80px;
  }
}
.contacts__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .contacts__info {
    margin-bottom: calc( 0.0107758621 * 100vw + 9.3103448276px);
  }
}
@media (min-width: 1920px) {
  .contacts__info {
    margin-bottom: 30px;
  }
}
.contacts__info-left {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .contacts__info-left {
    font-size: calc( 0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .contacts__info-left {
    font-size: 16px;
  }
}
.contacts__info-right {
  display: flex;
  align-items: flex-end;
}
.contacts__info-place {
  margin-bottom: 20px;
  padding-left: 33px;
  position: relative;
}
.contacts__info-place::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../images/icons/map.svg") no-repeat;
  background-size: contain;
}
.contacts__info-tel {
  color: inherit;
  transition: color 0.38s ease-in-out;
}
.contacts__info-tel:hover {
  color: #5EBDFF;
}
.contacts__info-tels, .contacts__info-mail {
  padding-left: 33px;
  position: relative;
}
.contacts__info-tels::before, .contacts__info-mail::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url("../images/icons/phone.svg") no-repeat;
  background-size: contain;
}
.contacts__info-mail {
  margin-top: 20px;
}
.contacts__info-mail::before {
  background: url("../images/icons/mail.svg") no-repeat;
  background-size: contain;
}
.contacts__map {
  height: 360px;
  border-radius: 50px;
  overflow: hidden;
}
@media (min-width: 992px) {
  .contacts__map {
    height: calc( 0.2155172414 * 100vw + 146.2068965517px);
  }
}
@media (min-width: 1920px) {
  .contacts__map {
    height: 560px;
  }
}

.price {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .price {
    padding-top: calc( 0.0538793103 * 100vw + 6.5517241379px);
  }
}
@media (min-width: 1920px) {
  .price {
    padding-top: 110px;
  }
}
@media (min-width: 992px) {
  .price {
    padding-bottom: calc( 0.0538793103 * 100vw + -23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .price {
    padding-bottom: 80px;
  }
}
.price__table {
  width: 100%;
  max-width: 585px;
  border-collapse: collapse;
  color: #000000;
}
@media (min-width: 992px) {
  .price__table {
    max-width: calc( 0.1293103448 * 100vw + 456.724137931px);
  }
}
@media (min-width: 1920px) {
  .price__table {
    max-width: 705px;
  }
}
.price__tbody {
  font-size: 14px;
}
@media (min-width: 992px) {
  .price__tbody {
    font-size: calc( 0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .price__tbody {
    font-size: 16px;
  }
}
.price__tbody tr:last-child td {
  padding-bottom: 0;
}
.price__tbody tr td {
  border-right: 1px solid #C2C8E0;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .price__tbody tr td {
    padding-bottom: calc( 0.0161637931 * 100vw + -1.0344827586px);
  }
}
@media (min-width: 1920px) {
  .price__tbody tr td {
    padding-bottom: 30px;
  }
}
.price__tbody tr td:nth-child(3) {
  width: 10%;
  white-space: nowrap;
}
.price__tbody tr td:nth-child(2) {
  width: 14%;
}
.price__tbody tr td:nth-child(1) {
  padding-left: 0;
  white-space: pre-line;
}
.price__bottom {
  margin-top: 20px;
  display: flex;
}
@media (min-width: 992px) {
  .price__bottom {
    margin-top: calc( 0.0323275862 * 100vw + -12.0689655172px);
  }
}
@media (min-width: 1920px) {
  .price__bottom {
    margin-top: 50px;
  }
}

.services {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .services {
    padding-top: calc( 0.0323275862 * 100vw + 27.9310344828px);
  }
}
@media (min-width: 1920px) {
  .services {
    padding-top: 90px;
  }
}
@media (min-width: 992px) {
  .services {
    padding-bottom: calc( 0.0538793103 * 100vw + -23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .services {
    padding-bottom: 80px;
  }
}
.services__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services__nav {
  width: 40%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}
.services__nav-item {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .services__nav-item {
    margin-bottom: calc( 0.0129310345 * 100vw + 2.1724137931px);
  }
}
@media (min-width: 1920px) {
  .services__nav-item {
    margin-bottom: 27px;
  }
}
.services__nav-item:last-child {
  margin-bottom: 0;
}
.services__nav-link {
  display: inline-block;
  padding-right: 22px;
  position: relative;
  font-size: 14px;
  color: #000000;
  transition: color 0.38s ease-in-out;
  white-space: pre-line;
}
@media (min-width: 992px) {
  .services__nav-link {
    font-size: calc( 0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .services__nav-link {
    font-size: 16px;
  }
}
.services__nav-link:hover {
  color: #5EBDFF;
}
.services__nav-link:hover::after {
  opacity: 1;
}
.services__nav-link:hover::before {
  opacity: 0;
}
.services__nav-link::before {
  content: "";
  width: 14px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 1;
  transform: translateY(-50%);
  background: url("../images/icons/link-arrow-small.svg") no-repeat;
  background-size: contain;
  transition: opacity 0.38s ease-in-out;
}
.services__nav-link::after {
  content: "";
  width: 14px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0;
  transform: translateY(-50%);
  background: url("../images/icons/link-arrow-small-blue.svg") no-repeat;
  background-size: contain;
  transition: opacity 0.38s ease-in-out;
}
.services__nav-link--active {
  color: #5EBDFF;
}
.services__nav-link--active::after {
  opacity: 1;
}
.services__nav-link--active::before {
  opacity: 0;
}
.services__photos {
  width: 57%;
  height: 270px;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 992px) {
  .services__photos {
    height: calc( 0.0969827586 * 100vw + 173.7931034483px);
  }
}
@media (min-width: 1920px) {
  .services__photos {
    height: 360px;
  }
}
.services__photos-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.38s ease-in-out;
}
.services__photos-img--active {
  opacity: 1;
  z-index: 1;
}

.service {
  padding-top: 60px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .service {
    padding-top: calc( 0.0538793103 * 100vw + 6.5517241379px);
  }
}
@media (min-width: 1920px) {
  .service {
    padding-top: 110px;
  }
}
@media (min-width: 992px) {
  .service {
    padding-bottom: calc( 0.0538793103 * 100vw + -23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .service {
    padding-bottom: 80px;
  }
}
.service__inner {
  display: flex;
  justify-content: space-between;
}
.service__left, .service__right {
  width: 49%;
}
.service__left {
  margin-right: 2%;
}
.service__right {
  display: flex;
  align-items: center;
}
.service__img {
  width: 100%;
  border-radius: 40px;
  height: 310px;
  object-fit: cover;
}
@media (min-width: 992px) {
  .service__img {
    height: calc( 0.0969827586 * 100vw + 213.7931034483px);
  }
}
@media (min-width: 1920px) {
  .service__img {
    height: 400px;
  }
}
.service__title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .service__title {
    margin-bottom: calc( 0.0107758621 * 100vw + 9.3103448276px);
  }
}
@media (min-width: 1920px) {
  .service__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .service__title {
    font-size: calc( 0.0086206897 * 100vw + 15.4482758621px);
  }
}
@media (min-width: 1920px) {
  .service__title {
    font-size: 32px;
  }
}
.service__text {
  color: #000;
  font-size: 14px;
}
@media (min-width: 992px) {
  .service__text {
    font-size: calc( 0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .service__text {
    font-size: 16px;
  }
}
.service__text p {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .service__text p {
    margin-bottom: calc( 0.0107758621 * 100vw + -0.6896551724px);
  }
}
@media (min-width: 1920px) {
  .service__text p {
    margin-bottom: 20px;
  }
}
.service__text p:last-child {
  margin-bottom: 0;
}
.service__bottom {
  display: flex;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .service__bottom {
    margin-top: calc( 0.0323275862 * 100vw + -12.0689655172px);
  }
}
@media (min-width: 1920px) {
  .service__bottom {
    margin-top: 50px;
  }
}

.contacts,
.services,
.service,
.price {
  flex: 1 1 auto;
}

.footer {
  background-color: #e0e9f5;
  padding-top: 20px;
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .footer {
    padding-top: calc( 0.0107758621 * 100vw + 9.3103448276px);
  }
}
@media (min-width: 1920px) {
  .footer {
    padding-top: 30px;
  }
}
@media (min-width: 992px) {
  .footer {
    padding-bottom: calc( 0.0269396552 * 100vw + 3.275862069px);
  }
}
@media (min-width: 1920px) {
  .footer {
    padding-bottom: 55px;
  }
}
.footer__top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .footer__top {
    margin-bottom: calc( 0.0215517241 * 100vw + -6.3793103448px);
  }
}
@media (min-width: 1920px) {
  .footer__top {
    margin-bottom: 35px;
  }
}
.footer__top-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.footer__logo {
  margin-right: 25px;
  width: 230px;
  height: 50px;
  background: url("../images/header-logo-1.png") no-repeat;
  background-size: contain;
}
@media (min-width: 992px) {
  .footer__logo {
    margin-right: calc( 0.0323275862 * 100vw + -7.0689655172px);
  }
}
@media (min-width: 1920px) {
  .footer__logo {
    margin-right: 55px;
  }
}
@media (min-width: 992px) {
  .footer__logo {
    width: calc( 0.0592672414 * 100vw + 171.2068965517px);
  }
}
@media (min-width: 1920px) {
  .footer__logo {
    width: 285px;
  }
}
@media (min-width: 992px) {
  .footer__logo {
    height: calc( 0.0118534483 * 100vw + 38.2413793103px);
  }
}
@media (min-width: 1920px) {
  .footer__logo {
    height: 61px;
  }
}
.footer__nav {
  display: flex;
}
.footer__nav-item {
  margin-right: 30px;
  color: inherit;
}
@media (min-width: 992px) {
  .footer__nav-item {
    margin-right: calc( 0.0538793103 * 100vw + -23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .footer__nav-item {
    margin-right: 80px;
  }
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item:hover {
  text-decoration: underline;
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social-text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 992px) {
  .footer__social-text {
    margin-right: calc( 0.0107758621 * 100vw + -0.6896551724px);
  }
}
@media (min-width: 1920px) {
  .footer__social-text {
    margin-right: 20px;
  }
}
.footer__social-icon {
  width: 40px;
  height: 28px;
  background: url("../images/icons/youtube.svg") no-repeat;
}
.footer__info {
  padding-bottom: 20px;
  text-align: right;
  font-weight: 700;
  line-height: 200%;
}
@media (min-width: 992px) {
  .footer__info {
    padding-bottom: calc( 0.0215517241 * 100vw + -1.3793103448px);
  }
}
@media (min-width: 1920px) {
  .footer__info {
    padding-bottom: 40px;
  }
}
.footer__info-tel {
  color: inherit;
  transition: color 0.38s ease-in-out;
}
.footer__info-tel:hover {
  color: #5EBDFF;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom-right {
  display: flex;
  align-items: center;
}
.footer__bottom-link {
  margin-left: 10px;
  display: block;
  width: 40.5px;
  height: 32px;
  background: url("../images/icons/spaceapp.svg") no-repeat;
}
@media (min-width: 992px) {
  .footer__bottom-link {
    margin-left: calc( 0.0107758621 * 100vw + -0.6896551724px);
  }
}
@media (min-width: 1920px) {
  .footer__bottom-link {
    margin-left: 20px;
  }
}

.modal {
  display: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 50px;
  background-color: #fff;
}
@media (min-width: 992px) {
  .modal {
    padding-left: calc( 0.0700431034 * 100vw + -29.4827586207px);
  }
}
@media (min-width: 1920px) {
  .modal {
    padding-left: 105px;
  }
}
@media (min-width: 992px) {
  .modal {
    padding-right: calc( 0.0700431034 * 100vw + -29.4827586207px);
  }
}
@media (min-width: 1920px) {
  .modal {
    padding-right: 105px;
  }
}
@media (min-width: 992px) {
  .modal {
    padding-top: calc( 0.0538793103 * 100vw + -23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .modal {
    padding-top: 80px;
  }
}
@media (min-width: 992px) {
  .modal {
    padding-bottom: calc( 0.0538793103 * 100vw + -23.4482758621px);
  }
}
@media (min-width: 1920px) {
  .modal {
    padding-bottom: 80px;
  }
}

.fancybox-bg {
  background: rgba(0, 48, 118, 0.3);
}

.fancybox-slide--html .fancybox-close-small {
  right: 15px;
  top: 15px;
}
@media (min-width: 992px) {
  .fancybox-slide--html .fancybox-close-small {
    right: calc( 0.0161637931 * 100vw + -1.0344827586px);
  }
}
@media (min-width: 1920px) {
  .fancybox-slide--html .fancybox-close-small {
    right: 30px;
  }
}
@media (min-width: 992px) {
  .fancybox-slide--html .fancybox-close-small {
    top: calc( 0.0161637931 * 100vw + -1.0344827586px);
  }
}
@media (min-width: 1920px) {
  .fancybox-slide--html .fancybox-close-small {
    top: 30px;
  }
}
.fancybox-slide--html .fancybox-close-small svg {
  transform: scale(1.3);
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
@media (min-width: 992px) {
  .form {
    width: calc( 0.0969827586 * 100vw + 203.7931034483px);
  }
}
@media (min-width: 1920px) {
  .form {
    width: 390px;
  }
}
.form__title {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
}
@media (min-width: 992px) {
  .form__title {
    margin-bottom: calc( 0.0107758621 * 100vw + 9.3103448276px);
  }
}
@media (min-width: 1920px) {
  .form__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .form__title {
    font-size: calc( 0.0107758621 * 100vw + 11.3103448276px);
  }
}
@media (min-width: 1920px) {
  .form__title {
    font-size: 32px;
  }
}
.form__input, .form__textarea {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: inherit;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #262C44;
  border-radius: 20px;
}
@media (min-width: 992px) {
  .form__input, .form__textarea {
    margin-bottom: calc( 0.0107758621 * 100vw + 9.3103448276px);
  }
}
@media (min-width: 1920px) {
  .form__input, .form__textarea {
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .form__input, .form__textarea {
    font-size: calc( 0.0021551724 * 100vw + 11.8620689655px);
  }
}
@media (min-width: 1920px) {
  .form__input, .form__textarea {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .form__input, .form__textarea {
    padding-top: calc( 0.005387931 * 100vw + 9.6551724138px);
  }
}
@media (min-width: 1920px) {
  .form__input, .form__textarea {
    padding-top: 20px;
  }
}
@media (min-width: 992px) {
  .form__input, .form__textarea {
    padding-bottom: calc( 0.005387931 * 100vw + 9.6551724138px);
  }
}
@media (min-width: 1920px) {
  .form__input, .form__textarea {
    padding-bottom: 20px;
  }
}
.form__input::placeholder, .form__textarea::placeholder {
  color: #7D839B;
}
.form__textarea {
  min-height: 180px;
  resize: none;
}

@media screen and (max-width: 992px) {
  body {
    padding-top: 0;
  }

  .header__inner {
    width: 320px;
    max-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px 20px 20px;
    top: calc(-1 * (100% - 30px));
    left: 0;
    z-index: 10;
    overflow-y: auto;
    background-color: rgba(224, 233, 245, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0 0 10px 0;
    transition: top 0.38s ease-in-out;
  }
  .header__inner--active {
    top: 59px;
  }
  .header__inner::-webkit-scrollbar {
    width: 8px;
  }
  .header__inner::-webkit-scrollbar-track {
    border-radius: 15px;
  }
  .header__inner::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #8a8a8ab7;
  }
  .header__inner::-webkit-scrollbar-thumb:hover {
    background-color: #8a8a8a;
  }
  .header__inner .header__top {
    order: 2;
  }
  .header__inner .nav {
    order: 1;
  }
  .header__top {
    padding-top: 20px;
    flex-wrap: wrap;
    border-bottom: none;
    border-top: 1px solid #262C44;
  }
  .header__top-left, .header__top-right {
    flex-wrap: wrap;
  }
  .header__top-left .header__logo {
    display: none;
  }
  .header__logo {
    width: 238px;
    height: 51px;
    margin-right: 0;
    margin-bottom: 20px;
    background-size: contain;
  }
  .header__info-place, .header__info-tels, .header__info-mail {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .header__info-comma {
    display: none;
  }
  .header__info-tel {
    display: block;
    margin-bottom: 5px;
  }
  .header__info-tel:last-child {
    margin-bottom: 0;
  }
  .header__info-tel:hover {
    color: #262C44;
  }
  .header__timetable {
    font-size: 18px;
  }
  .header__timetable-item:first-child {
    margin-bottom: 0;
  }
  .header__down {
    width: 100%;
  }
  .header__btn {
    margin-top: 20px;
    font-size: 18px;
    width: 100%;
  }
  .header__nav {
    margin-bottom: 12px;
    flex-direction: column;
  }
  .header__nav-item:hover .header__nav-link {
    background-color: transparent;
    color: #1775bc;
  }
  .header__nav-item:hover .header__subnav {
    box-shadow: none;
  }
  .header__nav-item--subnav::after {
    display: none;
  }
  .header__nav-link {
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    color: #262C44;
  }
  .header__nav-link::after {
    display: none;
  }
  .header__subnav {
    position: static;
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  .header__subnav-item {
    border: none;
  }
  .header__subnav-link {
    padding: 5px 0 5px 15px;
    font-size: 18px;
    background-color: transparent;
  }
  .header__subnav-link:hover {
    color: #1775bc;
    background-color: transparent;
  }
  .header__mask {
    width: 100%;
    height: 105vh;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.38s ease-in-out, z-index 0.38s ease-in-out, visibility 0.38s ease-in-out;
  }
  .header__mask--active {
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }
  .header__container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: -1px;
    left: -1px;
    z-index: 10;
    width: 101%;
    height: 60px;
    background-color: rgba(224, 233, 245, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 0px 10px 25px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 10px 25px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 10px 25px -3px rgba(34, 60, 80, 0.2);
  }
  .header__container-burger {
    display: flex;
    justify-content: space-between;
  }
  .header__burger {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .header__burger span {
    display: block;
    width: 40px;
    height: 2px;
    background-color: #262C44;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: background-color 0.38s ease-in-out;
  }
  .header__burger span::before, .header__burger span::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262C44;
    transition: top 0.38s ease-in-out, transform 0.38s ease-in-out;
  }
  .header__burger span::before {
    top: -12px;
  }
  .header__burger span::after {
    top: 12px;
  }
  .header__burger--active span {
    background-color: transparent;
  }
  .header__burger--active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .header__burger--active span::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .header__logo {
    width: 210px;
    height: 45px;
    margin-bottom: 0;
  }

  .nav--blue .header__nav-item:hover .header__nav-link {
    color: #1775bc;
    background-color: transparent;
  }
  .nav--blue .header__nav-link {
    color: #262C44;
    background-color: transparent;
  }

  .services,
.service,
.price,
.contacts,
.intro {
    padding-top: 90px;
  }

  .work__cards-item {
    width: 48%;
    margin-right: 4%;
  }
  .work__cards-item:nth-child(3n) {
    margin-right: 4%;
  }
  .work__cards-item:nth-child(2n) {
    margin-right: 0;
  }

  .cooperation__cards-item {
    width: 48%;
    margin-right: 4%;
  }
  .cooperation__cards-item:nth-child(3n) {
    margin-right: 4%;
  }
  .cooperation__cards-item:nth-child(2n) {
    margin-right: 0;
  }

  .footer__top {
    flex-wrap: wrap;
  }
  .footer__top-left {
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  .footer__logo {
    margin-right: auto;
    margin-left: auto;
  }

  .services__nav {
    width: 100%;
  }
  .services__nav-link--active {
    color: #000;
  }
  .services__nav-link--active::after {
    opacity: 0;
  }
  .services__nav-link--active::before {
    opacity: 1;
  }
  .services__photos {
    display: none;
  }

  .service__inner {
    flex-wrap: wrap;
  }
  .service__left {
    order: 2;
    width: 100%;
    margin-right: 0;
  }
  .service__right {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
  }
  .service__title {
    text-align: center;
  }
  .service__img {
    object-position: top;
  }
  .service__bottom {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .intro__top {
    flex-wrap: wrap;
  }
  .intro__center {
    order: 1;
    width: 100%;
    margin-bottom: 20px;
  }
  .intro__left {
    order: 2;
    width: 48%;
  }
  .intro__right {
    order: 3;
    width: 48%;
  }
  .intro__title {
    white-space: normal;
  }

  .title {
    font-size: 24px;
  }

  .cooperation__cards-img {
    height: 190px;
  }

  .price__bottom {
    justify-content: center;
  }

  .contacts__map {
    border-radius: 15px;
  }

  .footer__bottom {
    flex-wrap: wrap;
    text-align: center;
  }
  .footer__bottom-left {
    width: 100%;
  }
  .footer__bottom-right {
    margin: 10px auto 0;
  }
}
@media screen and (max-width: 576px) {
  .intro__top {
    flex-wrap: wrap;
  }
  .intro__left, .intro__right {
    width: 100%;
  }
  .intro__left {
    margin-bottom: 20px;
  }
  .intro__left .intro__item:first-child {
    margin-bottom: 20px;
  }
  .intro__right {
    text-align: left;
  }
  .intro__title {
    font-size: 24px;
  }
  .intro__item {
    margin-bottom: 20px;
  }
  .intro__item-title {
    white-space: normal;
  }

  .work__cards-item,
.cooperation__cards-item {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
  .work__cards-item:nth-child(3n),
.cooperation__cards-item:nth-child(3n) {
    margin-right: auto;
  }
  .work__cards-item:nth-child(2n),
.cooperation__cards-item:nth-child(2n) {
    margin-right: auto;
  }
  .work__cards-item:last-child,
.cooperation__cards-item:last-child {
    margin-right: auto;
  }
  .work__cards-number,
.cooperation__cards-number {
    font-size: 44px;
  }
  .work__bottom,
.cooperation__bottom {
    margin-top: 10px;
  }

  .cooperation__bottom {
    margin-top: 5px;
  }
  .cooperation__cards-img {
    height: 230px;
  }

  .price__tbody tr td {
    padding-right: 5px;
    padding-left: 5px;
  }
  .price__tbody tr td:nth-child(3) {
    width: 15%;
  }

  .contacts__info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contacts__info-right {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .contacts__map {
    height: 250px;
  }

  .footer__top-left {
    justify-content: center;
  }
  .footer__nav {
    width: 100%;
    justify-content: center;
  }
  .footer__social {
    margin-top: 10px;
  }
  .footer__info {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .title {
    font-size: 19px;
  }

  .header__inner {
    width: 100%;
    max-height: calc(100vh - 60px);
    border-radius: 0;
  }

  .intro__title {
    font-size: 19px;
  }

  .cooperation__cards-item {
    width: 100%;
  }

  .services__nav-link {
    width: max-content;
  }
  .services__photos {
    display: none;
  }

  .service__img {
    height: 220px;
  }

  .price__tbody tr td:nth-child(2), .price__tbody tr td:nth-child(3) {
    width: 19%;
  }

  .contacts__info-tels, .contacts__info-place {
    font-size: 12px;
  }
  .contacts__map {
    height: 200px;
  }

  .footer__top {
    margin-bottom: 5px;
  }
  .footer__info {
    padding-bottom: 10px;
  }
  .footer__info-place, .footer__info-tels {
    font-size: 14px;
  }

  .modal {
    width: calc(100% - 20px);
    padding: 30px 15px 15px;
    border-radius: 30px;
  }

  .form {
    width: 100%;
  }
  .form__input {
    border-radius: 15px;
    padding: 12px;
  }
  .form__textarea {
    min-height: 130px;
    padding: 12px;
  }

  .fancybox-slide--html .fancybox-close-small {
    right: 5px;
    top: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
