@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/ProximaNova-Regular.ttf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/ProximaNova-Bold.ttf');
}
@font-face {
	font-family: 'Proxima Nova';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/ProximaNova-Extrabld.ttf');
}